<!DOCTYPE html>
<html lang="en">
    <head> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>App</title>
  </head>
  <body>
    <div class="container">
      <div class="row main">
        <div class="panel-heading">
                <div class="panel-title text-center">
                  <h1 class="title">Projekt - sieci neuronowe</h1>
                </div>
              </div> 
        <div class="main-login main-center">
        <div class="form-horizontal">
        <%= form_tag("welcome/update/", :method =>'post') do %>

            <div class="form-group">
            <label for="parameter_1" class="cols-sm-2 control-label">Numer kodowy</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-ok" aria-hidden="true"></i></span>
                    <%= text_field_tag "parameter_1", "1", :placeholder =>  "Liczba całkowita", :class => "form-control"%>
                </div>
              </div>
            </div>


            <div class="form-group">
            <label for="parameter_2" class="cols-sm-2 control-label">Grubość kępy</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-ok" aria-hidden="true"></i></span>
                    <%= select_tag "parameter_2", raw("<option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>"), :class => "form-control"%>
                </div>
              </div>
            </div>

            <div class="form-group">
            <label for="parameter_3" class="cols-sm-2 control-label">Jednolitość wielkości komórek</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-ok" aria-hidden="true"></i></span>
                    <%= select_tag "parameter_3", raw("<option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>"), :class => "form-control"%>
                </div>
              </div>
            </div>

            <div class="form-group">
            <label for="parameter_4" class="cols-sm-2 control-label">Równomierność kształtu komórek</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-ok" aria-hidden="true"></i></span>
                    <%= select_tag "parameter_4", raw("<option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>"), :class => "form-control"%>
                </div>
              </div>
            </div>

            <div class="form-group">
            <label for="parameter_5" class="cols-sm-2 control-label">Krańcowa przyczepność</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-ok" aria-hidden="true"></i></span>
                    <%= select_tag "parameter_5", raw("<option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>"), :class => "form-control"%>
                </div>
              </div>
            </div>

            <div class="form-group">
             <label for="parameter_6" class="cols-sm-2 control-label">Rozmiar pojedynczej komórki nabłonka</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-ok" aria-hidden="true"></i></span>
                    <%= select_tag "parameter_6", raw("<option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>"), :class => "form-control"%>
                </div>
              </div>
            </div>

            <div class="form-group">
             <label for="parameter_7" class="cols-sm-2 control-label">Rozmiar jądra komórkowego</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-ok" aria-hidden="true"></i></span>
                    <%= select_tag "parameter_7", raw("<option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>"), :class => "form-control"%>
                </div>
              </div>
            </div>

            <div class="form-group">
             <label for="parameter_8" class="cols-sm-2 control-label">Jaskrawość chromatyczna</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-ok" aria-hidden="true"></i></span>
                    <%= select_tag "parameter_8", raw("<option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>"), :class => "form-control"%>
                </div>
              </div>
            </div>

            <div class="form-group">
             <label for="parameter_9" class="cols-sm-2 control-label">Rozmiar jąderka</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-ok" aria-hidden="true"></i></span>
                    <%= select_tag "parameter_9", raw("<option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>"), :class => "form-control"%>
                </div>
              </div>
            </div>

            <div class="form-group">
             <label for="parameter_10" class="cols-sm-2 control-label">Mitozy</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-ok" aria-hidden="true"></i></span>
                    <%= select_tag "parameter_10", raw("<option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>"), :class => "form-control"%>
                </div>
              </div>
            </div>

            <div class="form-group ">
              <%= submit_tag "Wyslij", :class => "btn btn-primary btn-lg btn-block login-button ", data: { disable_with: "Przetwarzanie..." } %>
            </div>

        <% end %>
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
